extends layout
block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
        | Loc8r was created to help people find places to sit down and get a bit of work done.
        | <br /><br />
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio illum in ducimus expedita consectetur aliquam illo eum velit distinctio harum, eius explicabo dolore adipisci soluta nulla, officiis cumque cupiditate id.